@import './config/_reset.scss';
@import './components/header.scss';
@import './components/footer.scss';
@import './screens/home.scss';
@import './screens/login.scss';
@import './screens/join.scss';
@import './screens/editProfile.scss';
@import './screens/pwChange.scss';
@import './screens/withdraw.scss';
@import './screens/watch.scss';
@import './screens/uploadContent.scss';
@import './screens/edit.scss';
@import './screens/search.scss';
@import '../scss//components/contents.scss';
* {
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
li {
  list-style: none;
}
*::placeholder {
  color: #eaeaea;
}
body {
  // background-color: #f5f5f5;
  background-color: #303030;
  color: #ffffff;
  font-family: 'Noto Sans KR', sans-serif;
  margin: 0 auto;
  min-height: 100vh;
}
.mainBox {
  width: 85vw;
  min-height: 90vh;
  height: 100%;
  margin: auto;
}
