.editContentBox {
  margin: auto;
  transform: translateY(15%);
  width: 60%;
  height: 70vh;
  & > h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
  }
  & > hr {
    width: 4rem;
    height: 2px;
    border: none;
    background-color: #374251;
  }
}
#editForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 80%;
  height: 100%;
  & > #editName {
    outline: none;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
    font-size: 1.1rem;
    width: 70%;
    height: 2.5rem;
    flex-shrink: 0;
    margin: 2rem 0;
  }
  & > textarea {
    resize: none;
    width: 70%;
    height: 10rem;
    outline: none;
    background-color: transparent;
    padding: 1em;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    color: #ffffff;
    font-size: 1rem;
    flex-shrink: 0;
    margin-bottom: 2rem;
  }
  & > input[type='submit'] {
    width: 70%;
    height: 2.5rem;
    border: none;
    font-size: 1.1rem;
    font-weight: 500;
    background-color: #62d2a2;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    flex-shrink: 0;
  }
}
