.defaultBox {
  display: flex;
  min-height: 85vh;
}
.infoBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  min-height: 100%;
  & > h1 {
    width: 30rem;
    font-size: 2.2rem;
    margin-bottom: 1rem;
    font-weight: 900;
  }
  & > h1:nth-child(1) {
    color: #f38181;
  }
  & > p {
    margin-top: 1rem;
    font-size: 1.3rem;
    line-height: 2rem;
  }
}
.imgBox {
  transform: translateY(30%);
  & > img {
    height: 12vw;
    width: 12vw;
    border-radius: 15px;
  }
  & > img:not(:last-child) {
    margin-right: 3rem;
  }
}
.loginBox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 30%;
  min-height: 100%;
  & a {
    padding: 1em;
    width: 15rem;
    margin: 1rem 0;
    text-align: center;
    color: #ffffff;
    font-weight: 700;
    font-size: 1.1rem;
    border-radius: 10px;
  }
  & img {
    margin-bottom: 2rem;
  }
}
#homeLogin {
  border: 1px solid #eaeaea;
  color: #eaeaea;
}
#homeJoin {
  background-color: #f38181;
}

#homeBanner {
  display: flex;
  min-height: 150px;
  height: 15rem;
  border-bottom: 1px solid #eaeaea;
}
.leftBanner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  & > img,
  i {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
  }
  & > i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5.5rem;
  }
}
.rightBanner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 55%;
  & > h1 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
  & > p {
    display: block;
  }
}
.buttonBox {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 10%;
  & > a {
    display: block;
    max-height: 250px;
    max-width: 250px;
    width: 5.5rem;
    height: 2.5rem;
    text-align: center;
    line-height: 1.25rem;
    padding: 0.6em;
    border-radius: 10px;
    background-color: #f08a5d;
  }
}

.nothing {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1.8rem;
  font-weight: 900;
}

.gridBox {
  display: grid;
  grid-template-columns: repeat(4, minmax(18%, auto));
  justify-items: center;
  gap: 3rem 2rem;
  grid-template-rows: 1fr 1fr;
  margin: 4rem 0;
  max-width: 1600px;
  min-height: 70vh;
  height: 100%;
}
