.join {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 75vh;
  margin: auto;
  transform: translateY(8%);
  & > h1 {
    text-align: center;
    font-size: 2rem;
    margin: 2rem 0 1rem 0;
  }
  & > hr {
    width: 4rem;
    height: 2px;
    border: none;
    background-color: #374251;
  }
  & > #joinForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
    height: 70%;
    & > input:not([type='submit']) {
      outline: none;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid #d1d1d1d1;
      font-size: 1.1rem;
      color: #ffffff;
      width: 70%;
      height: 2.5rem;
      margin: 1rem 0;
    }
    & > input[type='submit'] {
      width: 70%;
      height: 2.5rem;
      border: none;
      font-size: 1.1rem;
      font-weight: 500;
      margin: 1rem 0;
      background-color: #3f72af;
      color: #ffffff;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}
.askLoginBox {
  width: 55%;
  margin: 0.5rem auto;
  & > span {
    margin-right: 1rem;
  }
  & > a {
    color: #62d2a2;
    text-decoration: underline;
  }
}
