.login {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 60vh;
  margin: auto;
  transform: translateY(20%);
  & > h1 {
    text-align: center;
    font-size: 2rem;
    margin: 2rem 0 1rem 0;
  }
  & > hr {
    width: 4rem;
    height: 2px;
    border: none;
    background-color: #374251;
  }
  & > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 50%;
    & > input:not([type='submit']) {
      outline: none;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid #ffffff;
      color: #ffffff;
      font-size: 1.1rem;
      width: 70%;
      height: 2.5rem;
    }
    & > input[type='submit'] {
      width: 70%;
      height: 2.5rem;
      border: none;
      font-size: 1.1rem;
      font-weight: 500;
      background-color: #62d2a2;
      color: #ffffff;
      border-radius: 5px;
      cursor: pointer;
    }
    & > div {
      width: 70%;
    }
  }
}
.gitHubLogin {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 1rem auto;
  width: 100%;
  height: 2.5rem;
  background-color: #374251;
  border-radius: 5px;
  font-weight: 500;
  color: #ffffff;
  & > i {
    vertical-align: middle;
    font-size: 1.5rem;
    width: 2.5rem;
  }
}
.forgotBox,
.askJoinBox {
  width: 70%;
  margin: 0.5rem auto;
  & > span {
    margin-right: 1rem;
  }
  & > a {
    color: #f38181;
    text-decoration: underline;
  }
  & > a.joinLink {
    color: #3f72af;
  }
}
