#videoContainer {
  width: 60vw;
  max-width: 1200px;
  position: relative;
  margin: 0 auto;
  margin-top: 5rem;
  video {
    width: 100%;
    border-radius: 10px;
  }
  .videoControls {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    &.showing {
      opacity: 1;
    }
    align-items: center;
    border-radius: 10px;
    position: absolute;
    bottom: 10px;
    width: 95%;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr auto;
    gap: 10px;
    justify-content: space-between;
    background-color: #0f1117;
    padding: 10px;
    left: 0;
    box-sizing: border-box;
    .videoControls__play {
      display: flex;
      align-items: center;
      justify-content: space-around;
      .videoControls__playBtn {
        margin: 0px 15px;
      }
      .videoControls__time {
        font-size: 12px;
      }
    }
    .videoControls__volume {
      display: flex;
      align-items: center;
      span {
        margin-left: 10px;
        i {
          font-size: 20px;
        }
      }
    }
  }
}

.video__data {
  margin: 20px auto 3rem auto;
  display: flex;
  flex-direction: column;
  width: 60vw;
  max-width: 1200px;
  & > .video__title {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
  & > .video__desc {
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
  }
  & > .video__owner {
    font-size: 1rem;
    margin-bottom: 1rem;
    a {
      font-size: 1rem;
      color: #62d2a2;
    }
  }
}

#fullScreen {
  & > i {
    font-size: 1.3rem;
    width: 2rem;
    vertical-align: middle;
    padding-top: 0.1em;
  }
}

#editBox {
  display: flex;
  width: 30%;
  margin: 2rem 0;
  & > #editVideo,
  #deleteVideo {
    border-radius: 5px;
    margin-right: 2rem;
    display: inline-block;
    text-align: center;
    width: 5rem;
    padding: 1em;
  }
  & > #editVideo {
    border: 1px solid #3f72af;
    color: #3f72af;
  }
  & > #deleteVideo {
    border: 1px solid #f38181;
    color: #f38181;
  }
}

#commentBox {
  width: 60vw;
  max-width: 1200px;
  margin: 0 auto;
}
#commentForm {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: fit-content;
  margin-bottom: 1rem;
  padding: 0.5em 2em 0.5em 0;
  // border: 1px solid #eaeaea;
  & > button {
    font-size: 1rem;
    width: 5rem;
    height: 3rem;
    border: none;
    border-radius: 5px;
    color: #eaeaea;
    background-color: #3f72af;
    cursor: pointer;
    margin-left: 1rem;
  }
  & > img,
  i {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    margin-right: 2%;
  }
  & > i {
    font-size: 3.5rem;
  }
}
#commentTextarea {
  resize: none;
  outline: none;
  border: none;
  min-width: 500px;
  background-color: transparent;
  font-size: 1rem;
  color: #eaeaea;
  width: 70%;
  margin: 0;
  border-bottom: 1px solid #eaeaea;
  border-radius: 0;
  padding: 0.5em 1em;
}

#commentUl {
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
  & > h3 {
    font-size: 1.3rem;
    font-weight: 700;
    margin: 2rem 0 5rem 0;
    padding-left: 7%;
  }
  & > li {
    position: relative;
    display: flex;
    padding: 0.5em 2em 0.5em 0;
    margin: 1.5rem 0;
    // border: 1px solid dodgerblue;
    & > img,
    i {
      width: 3.5rem;
      height: 3.5rem;
      border-radius: 50%;
      margin-right: 2%;
    }
    & > i {
      font-size: 3.5rem;
    }
    & > div {
      display: flex;
      min-width: 65%;
      justify-content: space-around;
      flex-direction: column;
      & > span {
        color: #8d93a1;
      }
    }
  }
}

.deleteComment {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 30%;
  font-size: 0.7rem;
  color: #f38181;
  cursor: pointer;
}
