.navBox {
  display: flex;
  align-items: center;
  // margin: auto;
  min-height: 10vh;
  height: 6rem;
  // width: 85vw;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.34);
}
.logo {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 1.8rem;
  font-weight: 900;
  margin: 0 2rem 0 7.5vw;
  & > img {
    margin-right: 1rem;
  }
}
.menuBox {
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: auto;
  margin-right: 7.5vw;
  & li {
    // padding: 0.7em;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: fit-content;
    width: 8.5rem;
    height: 100%;
    margin-right: 1rem;
    font-size: 1.1rem;
    & a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
    }
  }
}
.navProfile {
  position: relative;
  display: flex;
  align-items: center;
  & > img {
    border-radius: 50%;
  }
  & > .profileSub {
    max-height: 0;
    overflow: hidden;
    position: absolute;
    padding: 0 1em;
    border-radius: 10px;
    width: 12rem;
    left: 50%;
    top: 100%;
    transform: translateX(-60%);
    background-color: #272727;
    transition: all 0.5s;
    & > li {
      display: flex;
      align-items: center;
      height: 2.2rem;
      margin: 0.8rem 0;
      padding-left: 0.3em;
      width: 90%;
      border-bottom: 1px solid #eaeaea;
      cursor: default;
      & > a {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 100%;
        transition: all 0.3s ease-out;
      }
      &:hover > a {
        color: #f08a5d;
      }
    }
  }
}
.navProfile.openSub .profileSub {
  display: block;
  max-height: 20rem;
  padding: 1em;
  border: 1px solid #eaeaea;
}
